@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

button {
  font-family: inherit;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(224, 83, 31);
  color: white;
  transition: background-color 0.3s;
}

body.dark-mode .Toastify__toast {
  background-color: #333;
  color: #fff;
}

.text-center {
  text-align: center;
}